<body class="home">
<%= render "shared/header" %>
<div class="contents bg2">
<div class="inner">

	<section>
  
  <h2>コンセプト</h2>

  <div class="box1">
	<figure class="fr w30p"><%= image_tag "book.jpg" %></figure>
	<div class="fl w65p">
	<h4>当サイトの目的</h4>
	<p>当アプリの目的は「新たな小説との出会いを提供すること」です。<br>
  その切り口は、「物語の中で舞台となっている地域」としています。<br><br>
  サイト名の「noverea（ノべリア）」は、「novel × area」の造語です。</p>
	</div>
	</div>

  <div class="box1">
    <figure class="fr w30p"><%= image_tag "book2.jpg" %><%= image_tag "map.jpg" %></figure>
    <div class="fl w65p">
      <h4>当サイトの制作経緯</h4>
      <p>旅行が趣味の作者は、旅行予定地を舞台としている小説を事前に読み、その地への思い入れを深くすることで、旅行をより有意義なものにしてきました。
      しかし、ある特定の地域を舞台にした小説、それも自分の好みに合った小説を簡単に探せる場が少ないと長らく感じていました。<br><br>
    
      読書を好む方はたくさんおられます。しかし、読書愛好家100人が集まって、これまで読んだ小説を持ち寄っても、全く同じ読書歴を持つ人はいないでしょう。<br>
      世に小説は五万とあり、今現在も素晴らしい作家の皆様が新たな作品を生み出し続けているのですから。<br>
      様々な小説を読んできた読書愛好家のみなさまが、自身の好きな作品の舞台になったのはここだ！、と知識を持ち寄れば、それはとても素晴らしい情報の集約地になるのではないでしょうか。<br><br>
      
      そしてこの「小説」「舞台となった地域」に関する情報の集約地は、次なる小説との出会いを探す皆様の助けとなるでしょう。<br>
      「旅行先」に限らず、「住んでいる場所」「勤務先」「通勤通学の途中のあの場所」「友人宅」「テレビで見て素敵だと思った場所」エトセトラ。地域と人との関係には、様々な形があります。<br>
      ですのでぜひ、気になる地域や馴染みある場所、そこを舞台にした小説との出会いを、当サイトを通じて見つけていただけますと幸いです。</p>
    </div>
	</div>

  </section>

  </div>
  <!--/.inner-->
  </div>
  <!--/.contents-->
  <%= render "shared/footer" %>