<body class="home">
<%= render "shared/header" %>
<div class="contents">
<div class="inner">

	<section>
  <h2>簡易検索</h2>
	<h2 class="simple">検索Box</h2>
	<p class="c">ここに検索Boxを設置する</p>

	</section>

</div>
<!--/.inner-->
</div>
<!--/.contents-->

<div class="contents bg2">
<div class="inner">

	<section>
	<h2>投稿作品一覧</h2>
	<p class="c">「new」最終更新日が本日の作品</p>

	<ul>
	<% count = 0 %>
	<% @novels.each do |novel| %>
		<% country = novel.areas&.first&.country %>
		<% prefecture = novel.areas&.first&.prefecture %>
		<% city = novel.areas&.first&.city %>
			<li><div class="box2">
			<% if novel.updated_at.strftime("%Y/%m/%d") == Date.today.strftime("%Y/%m/%d") %>
				<span class="date">new</span>
			<% end %>
			<h4><%= link_to novel.title, novel_path(novel.id) %></h4>
			<p>著者名: <%= novel.auther %><br>
				発売年: <%= @result[count].sales_date %><br>
				舞台:<%= country %>
						<% if prefecture != nil %>
							<%= prefecture %>
						<% end %>
						<% if city != nil %>
							<%= city %>
						<% end %><br>
						<% if country != nil %>
							<%= link_to "同じ地域が舞台となった作品一覧へ", area_path( novel.areas&.first&.id ) %>
						<% end %>
						<% if novel.another_area != nil || novel.another_area != "" %>
							<%= novel.another_area %>
						<% end %><br>
						</p>
				<div class="item">
					<div class="itemheader">商品情報【楽天BOOKS】</div>
					<div class="itembottom">
						<div class=itembottomleft>
							『<%= link_to @result[count].title, @result[count].item_url, target: :_blank, rel: "noopener noreferrer" %>』<br><br>
							<%= @result[count].item_price %>円
						</div>
						<div class=itembottomright>
							<%= link_to (image_tag(@result[count].medium_image_url)), @result[count].item_url, target: :_blank, rel: "noopener noreferrer" %>
						</div>
					</div>
					<% count += 1 %>
				</div>
	<% end %></li>
	</ul>
	</div>

	<div class="contents bg2">
		<div class="inner">
			<%= paginate @novels %>
		</div>
	</div>

	</section>

</div>
<!--/.inner-->
</div>
<!--/.contents-->

<%= render "shared/footer" %>

</body>
</html>
