<body class="home">
<%= render "shared/header" %>
<div class="contents">
<div class="inner">

<section>
  <h2>小説情報投稿</h2>
  <p>
    <strong class="color1">情報登録</strong><br>
    あ
  </p>

  <%= form_with model: @novel, local: true do |f| %>
    <table class="ta1">
      <tbody>
        <tr>
          <th><%= f.label :タイトル（必須） %></th>
          <td><%= f.text_field :title, placeholder: "小説のタイトル" %></td>
        </tr>
        <tr>
          <th><%= f.label :著者（必須） %></th>
          <td><%= f.text_field :auther, placeholder: "著者名" %></td>
        </tr>
        <tr>
          <th><%= f.label :発売年 %></th>
          <td><%= f.text_field :auther, placeholder: "西暦４桁（半角）" %></td>
        </tr>
        <tr>
          <th><%= f.label :作品ジャンル %></th>
          <td><%= f.text_field :genre_id, placeholder: "西暦４桁（半角）" %></td>
        </tr>
        <tr>
          <th><%= f.label :舞台となった地域 %></th>
          <td><%= f.text_field :auther, placeholder: "西暦４桁（半角）" %></td>
        </tr>
        <tr>
          <th><%= f.label :その他地域 %></th>
          <td><%= f.text_field :another_area, placeholder: "上記プルダウンにない地域はこちらに入力" %></td>
        </tr>
        <tr>
          <th><%= f.label :スポット %></th>
          <td><%= f.text_field :spot, placeholder: "舞台となった施設等(例：国会議事堂、渋谷ヒカリエ、ルーブル美術館)" %></td>
        </tr>
        <tr>
          <th><%= f.label :小説のあらすじ %></th>
          <td><%= f.text_area :synopsis, placeholder: "あらすじ（1000字以内）" , class:'synopsis-input' %></td>
        </tr>
        <tr>
          <th><%= f.label :メディアミックス %></th>
          <td><%= f.text_field :mediamix, placeholder: "アニメ化・映画化等のメディアミックス情報" %></td>
        </tr>
      </tbody>
    </table>
    <%= f.submit "投稿する" ,class:'btn' %>
  <% end %>

</section>
</div>
<!--/.inner-->
</div>
<!--/.contents-->

<%= render "shared/footer" %>