<body class="home">
<%= render "shared/shortheader" %>
<div class="contents">
<div class="inner">

<section>
  <h2>作品詳細</h2>

  <h3>基本情報</h3>
  <p><strong class="color1">■タイトル</strong><br>
      <%= @novel.title %><br>
    <strong class="color1">■著作者</strong><br>
      <%= @novel.auther %><br>
    <strong class="color1">■発売年</strong><br>
      <%=  @item.sales_date %><br>
    <strong class="color1">■作品ジャンル</strong><br>
      <%= @novel.genre.name %><br>
    <strong class="color1">■物語の舞台となった地域</strong><br>
      <% country = @novel.areas&.first&.country %>
      <% prefecture = @novel.areas&.first&.prefecture %>
      <% city = @novel.areas&.first&.city %>
      <% if country != nil %>
        <%= country %>,
      <% end %>
      <% if prefecture != nil %>
        <%= prefecture %>,
      <% end %>
      <% if city != nil %>
        <%= city %>
      <% end %>
      <% if @novel.another_area != nil || @novel.another_area != "" %>
        <%= @novel.another_area %>
      <% end %><br>
    <strong class="color1">■スポット</strong><br>
      <%= @novel.spot %><br>
    <strong class="color1">■あらすじ</strong><br>
      <%= @novel.synopsis  %><br>
    <strong class="color1">■メディアミックス</strong><br>
      <%= @novel.mediamix %><br>
  </p>

  <h3>商品情報</h3>
  <div class="box1 left leftstyle">
    <h4><%= link_to @item.title, @item.item_url, target: :_blank, rel: "noopener noreferrer" %></h4><br>
    <div class="box1bottom">
      <div class="box1left">
        <%= link_to image_tag(@item.large_image_url), @item.item_url, target: :_blank, rel: "noopener noreferrer" %>
      </div>
      <div class="box1right">
        発売日情報：<%= @item.sales_date %><br>
        <%= @item.item_caption %>
      </div>
    </div>
  </div>
  <% unless @dvditem.nil? %>
    <div class="box1 left leftstyle">
      <h4><%= link_to @dvditem.title, @dvditem.item_url, target: :_blank, rel: "noopener noreferrer" %></h4><br>
      <div class="box1bottom">
        <div class="box1left">
          <%= link_to image_tag(@dvditem.large_image_url), @dvditem.item_url, target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <div class="box1right">
          発売日情報：<%= @dvditem.sales_date %><br>
          <%= @dvditem.artist_name %><br>
          <%= @dvditem.item_caption %>
        </div>
      </div>
    </div>
  <% end %>

  <h3>コメント</h3>



</section>
</div>
<!--/.inner-->
</div>
<!--/.contents-->

<%= render "shared/footer" %>