<div class="contents">
<div class="inner">


<section>
<h2>地域情報追加</h2>

  <%= form_with(model:@form, url: areas_path, method: :post) do |f| %>
  <table class="ta1">
    <tbody>
      <tr>
        <th>国</th>
        <th>都道府県/州</th>
        <th>市区町村</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :areas do |i| %>
        <tr>
          <td>
          <%= i.text_field :country %>
          </td>
          <td>
          <%= i.text_field :prefecture %>
          </td>
          <td>
          <%= i.text_field :city %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.submit '一括登録', class: 'btn' %>
<% end %>

</section>
<section>
<%= link_to "管理者ログアウト", destroy_admin_session_path, mothod: :delete, class:"another-btn" %>
<%= link_to "管理者トップページへ", admins_toppages_index_path, class:"another-btn" %><br><br>
</section>
</div>
<!--/.inner-->
</div>
<!--/.contents-->

<%= render "shared/footer" %>